.RollDice {
    display: flex;
    flex-flow: column nowrap;
    min-height: 20vh;
}
.RollDice-container {
    display: flex;
    justify-content: center;
    align-content: center;
}
.RollDice button {
    align-self: center;
    width: 15rem;
    padding: 1.5em;
    border: 0px;
    border-radius: 10px;
    color: white;
    background-color: black;
    margin-top: 3em;
    outline: none;
    margin-bottom: 5rem;
}

.RollDice button:hover {
    background-color: darkslateblue;
    cursor: pointer;
}